{% extends "layout.html" %}

{% block title %}
    Your Quote
{% endblock %}

{% block main %}
  <table class = "table">
    <thead>
        <tr>
            <th scope = "col">Timestamp</th>
            <th scope = "col">Title</th>
            <th scope = "col">Quantity</th>
            <th scope = "col">Price</th>
            <th scope = "col">Total</th>
            <th scope = "col">Status</th>
            <th scope = "col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for row in quote %}
        <tr>
            <td scope = "row">{{row["timestamp_quote"]}}</td>
            <td scope = "row">{{row["title"]}}</td>
            <td scope = "row">{{row["quantity"]}}</td>
            <td scope = "row">{{row["price"]}}</td>
            <td scope = "row">{{row["total"]}}</td>
            <td scope = "row">{{row["status_quote"]}}</td>
            <td scope = "row"> <a href="/delete-quote/{{row["quote_id"]}}"><button class="btn btn-primary" type="submit">Delete</button></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class = "container">
        <div class = "center">
        <a href="/">
            <button class="btn btn-primary" type="submit">Back</button>
          </a>
        </div>
    </div>

    {% endblock %}
